body {
    background-color: #ff66b2; 
    color: #800080; 
}
.jumbotron {
    background-color: #800080; 
    color: #ff66b2;
}
.btn-primary {
    background-color: #ff66b2; 
    border-color: #ff66b2; 
}
.body-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
form {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: start;
}
label, input {
    display: block;
    margin-bottom: 10px;
}
