<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Confirmation de suppression</title>
  <th:replace th:replace="head :: head"></th:replace>
</head>
<body>
<div class="container my-5">
  <h1>Confirmation de suppression</h1>
  <p>Voulez-vous vraiment supprimer cet article ?</p>
  <form th:action="@{/delete}" method="post">
    <input type="hidden" th:name="id" th:value="${id}">
    <button type="submit" class="btn btn-danger">Confirmer la suppression</button>
    <a th:href="@{/list}" class="btn btn-secondary">Annuler</a>
  </form>
</div>
</body>
</html>
