<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Liste</title>
  <th:replace th:replace="head :: head"></th:replace>
</head>
<body>
<div class="container">
  <h1 class="my-4">Liste de vêtements</h1>
  <table class="table my-4">
    <thead>
    <tr class="table-active">
      <th>ID</th>
      <th>Category</th>
      <th>Nom</th>
      <th>Marque</th>
      <th>Taille</th>
      <th>Color</th>
      <th>Matière</th>
      <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productsList}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.getCategory()}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.brand}"></td>
      <td th:text="${product.size}"></td>
      <td th:text="${product.color}"></td>
      <td th:text="${product.material}"></td>
      <td>
        <a th:href="@{'/products/edit/' + ${product.id}}" class="btn btn-warning">Modifier</a>
        <a th:href="@{'/products/delete/' + ${product.id}}" class="btn btn-danger">Supprimer</a>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/}" class="btn btn-secondary">Home</a>
  <a th:href="@{/products/add}" class="btn btn-success">Nouveau produit</a>
</div>
</body>
</html>
